.menu-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 70%;
    justify-content: center;
    margin: auto;
    padding: 33px 0;
}

.menu-left{
    text-align: start;
    align-self: center;
}

.menu-right{
    text-align: end;
    align-self: center;
}

.menu-list .right-menu{
    justify-self: end;
    align-self: center;
}

.menu-list .left-menu{
    justify-self: start;
    align-self: center;
}

.menu-list .menu-logo{
    align-self: center;
    justify-self: center;
    height: 40px;
}

.mobile-bar{
    display: grid;
    grid-template-columns: 100px 1fr;
    width: 100%;
}

.nav3{
    margin: 33px 0;
    width: 70%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo{
    align-self: center;
    justify-self: center;
    height: 40px;
}




.nav2 .menu-top{
    width: 70%;
    padding: 8px 0;
    border-bottom: solid 1px #e0e2e5;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 30px;


}

.menu-top .contact-us {
    text-align: start;
}

.menu-top .language{
    text-align: end;
}